/* CSS Document */
html {
	height: 100%;
}

@keyframes bgScroll {
  0% {
	  background-position: 0px 0;
  }
  100% {
	  background-position: -5517px 0;
  }
}

body {
	height: 100%;
	background-color: #edc9af;
	background: url("images/scrollingBackground.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
	margin: 0px 20%;
	padding: 0px 50px;
	animation: bgScroll 180s linear infinite;
}

#content {
	color: #EEE;
	background-color:#0077be;
	font-family: 'Slabo 27px', serif;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	border-left: solid black;
	border-right: solid black;
}

nav {
	text-align: right;
	padding: 20px;
}

.navLink {
    text-decoration: none;
    border: none;
	border-radius: 10px;
	color: #FFF;
	background-color: transparent;
	padding: 5px 10px;
	margin: 5px;
	transition: background-color 0.5s linear;
	cursor: pointer;
	text-shadow: -1px 0 #000000,0 1px #000000, 1px 0 #000000,0 -1px #000000;
}

.navLink:hover {
	background-color: #edc9af;
}

.navRule {
	margin: 20px 0px 10px;
}

#main {
	position:relative;
	flex: 1;
	text-align: center;
	padding: 0px 80px;
}

#callToAction {
	position: absolute;
	padding: 40px 5px;
	right: 0;
	background-color:lightgray;
	border-radius:20px;
	transform: translate(50%, 0%);
}

#signUp {
    color: white;
    background-color: #F44234;
    padding: 8px 18px;
    margin: 4px;
    text-decoration: none;
    border: none;
	border-radius: 15px;
}

footer {
	font-size: 75%;
	text-align: center;
	padding: 10px;
}