/* CSS Document */
html {
	height: 100%;
}

body {
	color: #EEEEEE;
	background-color: #0077be;
	margin: 0px 20%;
	padding: 0px 50px;
	border-left: #FFFFFF medium ridge;
	border-right: #FFFFFF medium ridge;
}

nav {
	text-align: right;
	padding: 20px;
}

.navLink {
    text-decoration: none;
    border: none;
	border-radius: 10px;
	color: inherit;
	background-color: transparent;
	padding: 10px;
	transition: background-color 0.5s linear;
}

.navLink:hover {
	background-color: #005080;
}

.navRule {
	margin: 20px 0px 10px;
}

#main {
	text-align:center;
}

footer {
	position: absolute;
	text-align: center;
	font-size: 75%;
	left: 20%;
	bottom: 0;
	right: 20%;
}
