/* CSS Document */
html {
	height: 100%;
}

@keyframes bgScroll {
  0% {
	  background-position: 0px 0;
  }
  100% {
	  background-position: -5516px 0;
  }
}

body {
	height: 100%;
	background-color: #edc9af;
	background: url("images/scrollingBackground.jpg");
    background-attachment: fixed;
	background-size: auto 100%;
	margin: 0px 20%;
	padding: 0px 50px;
	animation: bgScroll 180s linear infinite;
}

#content {
	color: #EEE;
	background-color:#0077be;
	font-family: 'Slabo 27px', serif;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	border-left: thin solid #FFF;
	border-right: thin solid #FFF;
}

nav {
	text-align: right;
	padding: 20px;
}

.navLink {
    text-decoration: none;
    border: none;
	border-radius: 10px;
	color: #FFF;
	background-color: transparent;
	padding: 5px 10px;
	margin: 5px;
	transition: background-color 0.5s linear;
	cursor: pointer;
	text-shadow: -1px 0 #000000,0 1px #000000, 1px 0 #000000,0 -1px #000000;
}

.navLink:hover {
	background-color: #edc9af;
}

.navRule {
	margin: 20px 0px 10px;
}

#main {
	flex: 1;
	text-align: center;
	padding: 0px 80px;
}

@keyframes fade {
	0% {
		opacity:0;
		visibility: hidden;
	}
	100% {
		opacity:1;
		visibility: visible;
	}
}

.fadeIn {
	animation: 1s ease-out 1s 1 fade;
	animation-fill-mode: forwards;
}

.fadeOut {
	animation: 1s ease-out 0s 1 fade;
	animation-direction: reverse;
	animation-fill-mode: forwards;
}

#callToAction {
	position: absolute;
	height: 171px;
	text-shadow: -1px 0 #000000,0 1px #000000, 1px 0 #000000,0 -1px #000000;
	left: 80%;
	background-color:#005080;
	border: thin #FFFFFF solid;
	border-radius:20px;
	width: 15%;
	transition: height 1s;
}

#callContent {
	margin: 50px 0px -110px 0px;
}

#signUp {
    color: white;
    background-color: #F44234;
    padding: 8px 18px;
    margin: 4px;
    text-decoration: none;
    border: none;
	border-radius: 15px;
}

#signupContent {
	display: none;
	visibility: hidden;
}

.signupLabel {
	display: inline-block;
	color: white;
	text-shadow: -1px 0 #000000,0 1px #000000, 1px 0 #000000,0 -1px #000000;
}

.signupTextBox {
	background-color: #edc9af;
	border: none;
	width: auto;
	margin: 5px 5px 5px 5px;
	border-radius: 5px;
}

.signupSelect {
	background-color: #edc9af;
	border: none;
	width: auto;
	margin: 5px 8px 5px 8px;
	border-radius: 5px;
}

.signupCheck {
	margin: 5px 5px 5px 5px;
}

.signupSubmit {
	border: medium #FFF solid;
	border-radius: 10px;
	color: #FFF;
	background-color: transparent;
	padding:5px 10px 5px;
	margin-top:10px;
}

#announcementContent {
	display:block;
	padding: 0px 5px 5px;
	border: thin white solid;
	border-radius: 10px;
	background-color: #005080;
}

#announcementContent h1 {
	text-shadow: -1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000;
}

#announcements {
	list-style: none;
	padding-left: 0;
}

.announcement {
	border-bottom: thin white solid;
}

#leagueTable {
	width: 100%;
	border: thin #FFF solid;
    border-collapse: collapse;
}

#leagueTable tr:nth-child(even) {
	 background-color: #005080;
}

#leagueTopRow {
	border-bottom: thin #FFF solid;
}

#leagueTopRow th {
	border-right: thin #FFF solid;
}

.link  {
	color: #88A8FC;
}

footer {
	font-size: 75%;
	text-align: center;
	padding: 10px;
}

.strong {
	font-weight: bold;
}

.reference {
	vertical-align:super;
	font-size:75%;
}