/* CSS Document */
body {
	color: #333333;
	background-color: #0077be;
	overflow: hidden;
}

#splashContent {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -100%);
}

#splashText {	
	color: white;
	font-size: 500%;
	text-align: center;
	text-shadow: -2px 0 #000000,0 1px #000000, 1px 0 #000000,0 -1px #000000;
}

#buttonContainer {
	padding: 10px 0px 0px 0px;
    text-align: center;
}

.button {
    padding: 16px 36px;
    margin: 4px;
    text-decoration: none;
    border: none;
	border-radius: 15px;
}

#enterSite {
    color: white;
    background-color: #2BA021;
}

#callToAction {
    color: white;
    background-color: #F44234;
}

@keyframes fade {
	0% {
		opacity:0;
		visibility: hidden;
	}
	100% {
		opacity:1;
		visibility: visible;
	}
}

.fadeIn {
	animation: 1s ease-out 1s 1 fade;
	animation-fill-mode: forwards;
}

.fadeOut {
	animation: 1s ease-out 0s 1 fade;
	animation-direction: reverse;
	animation-fill-mode: forwards;
}

#signupContent {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -100%);
	visibility: hidden;
}

#signupText {	
	color: white;
	font-size: 200%;
	text-align: center;
	text-shadow: -1px 0 #000000,0 1px #000000, 1px 0 #000000,0 -1px #000000;
}

#signupForm {
	padding: 10px 0px 0px 0px;
	text-align: center;
}

.signupLabel {
	display: inline-block;
	color: white;
	margin: 5px 5px 5px 5px;
	width: 125px;
	text-shadow: -1px 0 #000000,0 1px #000000, 1px 0 #000000,0 -1px #000000;
}

.signupCheckLabel {
	width:auto;
}

.signupTextBox {
	background-color: #edc9af;
	border: none;
	width: 150px;
	margin: 5px 5px 5px 5px;
	border-radius: 5px;
}

.signupSelect {
	background-color: #edc9af;
	border: none;
	width: 150px;
	margin: 5px 8px 5px 8zpx;
	border-radius: 5px;
}

.signupCheck {
	margin: 5px 5px 5px 5px;
}

.signupSubmit {
	border: medium #FFF solid;
	border-radius: 10px;
	color: #FFF;
	background-color: transparent;
	padding:5px 10px 5px;
}

@keyframes imgBottomIn {
  0% {
	transform: translate(-5%, 50%);
	opacity: 1;
  }
  100% {
	transform: translate(-5%, 5%);
	opacity: 1;
  }
}
.imageBottom {
	z-index: -2;
	position: absolute;
	left: 0;
	bottom: 0;
	min-width: 110%;
	transform: translate(-5%, 5%);
	filter: blur(5px);
	animation: 1s ease-out 0s 1 imgBottomIn;
}